{% extends "base.html" %}
{% block content %}
<!--
<noscript>
    <div class="alert alert-error">
        <p><strong>This website is completely useless without enabling
            Javascript. Sorry.</strong></p>
    </div>
</noscript>
-->
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span4 hero-unit">
                <p> 
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
                <br/>
            <!--
            <a class="btn btn-large">
              Watch Game Play Video
            </a>
            -->
            <a href="{% url registration_register %}"class="btn btn-primary btn-large">
              Register
            </a>
            </div>
            <div class="span6">
                <img alt="" src="/static/portal.jpg' %}">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span4">
        <h2>Awesome Game</h2>
        <img alt="" src="/static/some_image.jpg">
        <p>
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
        </p>
    </div>
    <div class="span4">
        <h2>Is awesome</h2>
        <img alt="" src="/static/some_image.jpg">
        <p> 
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
        </p>
    </div>
    <div class="span4">
        <h2>Game</h2>
        <img alt="" src="/static/some_image.jpg">
        <p>
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
        </p>
    </div>
</div>

{% endblock %}

